

<div class="container" style="border: 1px solid red;">
    <div class="row" style="height: 15px;"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="h3 text-center text-dark">
            Báo lỗi hệ thống
        </div>
        <div class="row">

            <form [formGroup]="searchForm" (submit)="search()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="col-md-12">
                            <mat-label>Nhập số điện thoại: </mat-label>
                            <input (blur)= "apiGetDmdichvu()" type="text" formControlName="sdt" matInput placeholder="Nhập số điện thoại:" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <button mat-raised-button id="add-Family-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tạo phiếu báo lỗi hệ thống
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-md-6">
                    <mat-form-field class="input-group">
                        <mat-select placeholder="Dịch vụ sử dụng" >
                            <!-- <mat-option *ngFor="let dichVuSuDung of dmdichvu " [value]="dichVuSuDung.DV_ID">
                                {{dichVuSuDung.DV_TENDV}}
                            </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6" class="input-group" appearance="outline">
                    <mat-form-field class="col-md-12">
                        <mat-label>Nhập nội dung: </mat-label>
                        <input matInput placeholder="Nhập nội dung" />
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <div class="btn-footer">
                        <button mat-raised-button id="add-Family-btn" type="submit" color="primary">
                            Gửi phiếu
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="col-md-12 overflow-auto mt-2">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element; let i=index" class="text-center"> {{ (i + 1)}} </td>
                </ng-container>
                <ng-container matColumnDef="DV_TENDV">
                    <th mat-header-cell *matHeaderCellDef> Dịch vụ sử dụng </th>
                    <td mat-cell *matCellDef="let element"> {{element.dichvu.DV_TENDV}} </td>
                </ng-container>

                <ng-container matColumnDef="PBH_NOIDUNG">
                    <th mat-header-cell *matHeaderCellDef> Nội dung </th>
                    <td mat-cell *matCellDef="let element"> {{element.PBH_NOIDUNG}} </td>
                </ng-container>

                <ng-container matColumnDef="PBH_TRANGTHAI">
                    <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                    <td mat-cell *matCellDef="let element"> {{element.PBH_TRANGTHAI}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
</div>